body, .page-content, .post-item, .post-item-title {
  font-size: 18px !important; /* Adjust this size as needed */
}

.author, .author-bio {
  max-width: none !important;
}

/* Customize the code block appearance */
pre code {
  font-size: 16px;
  color: #f8f8f2;
  padding: 15px;
  border-radius: 5px;
  overflow-x: auto;
  white-space: pre-wrap; /* Ensures long lines wrap */
}

/* Add line numbers */
pre code .line {
  padding-left: 20px;
}
pre>code {
  padding-left: none;
  max-width: none;
}

.wrapper {
  max-width: calc(900px - (30px * 2)) !important;
}